.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(38, 38, 38, .3);
}

.navbar-button-dark {
    background-color: #262626;
    border-color: #262626;
    color: #ffffff;
}

.navbar-button-dark:hover {
    background-color: #ffffff;
    border-color: #262626;
    color: #262626;
}

.navbar-button-light {
    background-color: #ffd753;
    border-color: #ffd753;
    color: #262626;
}

.navbar-button-light:hover {
    background-color: #ffffff;
    border-color: #ffd753;
    color: #262626;
}


.navbar-button-default {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

.navbar-button-default:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #00b1ff;
}

.icon {
    vertical-align: sub;
}

.dropdown-menu {
    background-color: #ffffff;
    padding: 0;
}

.dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item.red:hover {
    background-color: #FF1E1E;
}

.dropdown-item.default:hover {
    background-color: #00b1ff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-divider {
    margin: 1px;
}

.navbar-brand {
    color: #262626;
    font-size: 1.5rem;
}

.dropdown-toggle {
    color: #262626;
}

a {
    text-decoration: none;
    color: #262626;
}

a:hover {
    text-decoration: none;
    color: #262626;
}