
.left{
    float: left; width: 50%;
    background-color: #D2F1FF;
    height: 100vh;
}

.right{
    float: right; width: 50%;
    background-color: #D2F1FF;
    height: 100vh;
}



.header{
    font-size: 70px;
    color: #3752B4;
    position: absolute;
    top:120px;
    left: 100px;
}

.explain{
    position: absolute;
    top:300px;
    left: 80px;
}

p{
    font-size: 20px;
    
}

h4{
    color:#00B1FF
}

#content{
    position: absolute;
    top:400px;  
    left: 50px;
    width: 50%;
   
}



